BasedOnStyle: Google
BreakBeforeBraces: Allman
AlignAfterOpenBracket: Align
BinPackParameters: true
AlwaysBreakTemplateDeclarations: Yes
AllowAllParametersOfDeclarationOnNextLine: true
ColumnLimit: 80
